/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 70px;
  
}

/*This wrapping container enables the image to be displayed behind the content */
#wrap{    
  position: absolute;
  bottom:0;
  min-height: 100%;  
  width: 100%;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-image:url("images/footer.png");   
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

/*.footer .container {
  margin: 20px 0;
}*/


/*** Flexbox ***/

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  
}