/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 70px;
  background-color: #f3f3f3;
}

/*This wrapping container enables the image to be displayed behind the content */
/*#wrap{    
  bottom:0;  
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-image:url("images/footer2.png");   
}*/

#footer .navbar{
  position: absolute;
  z-index: -100;
  /*height is needed to stick footer to bottom*/
  height: 10px;
  /* override from boostrap */ 
  border:0
}

 /*.footer-image{
    position: absolute;
    bottom: 0;
    overflow: visible;
    z-index: -100; 
    height: 300px ;
}*/
.footer-content img{
    height: auto;
    max-width: 100%;
    content:url("images/footer2.png");
    z-index: -100; 
}
.footer-content ul {
    padding-left: 15px;
    background-color: black;
    padding-bottom: 20px;
    margin-bottom:0;
}
.footer-content li {
    padding: 0;
}
.footer-content a {
    padding: 15px 5px;
}

/*** Flexbox ***/

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;  
}

/****************************/

.carousel-inner > .item {
    height: 400px;
    overflow: hidden;
    margin: auto;
}

.carousel-inner > .item > img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

/*.item{
  overflow: hidden;
  position: relative;
  height: 400px;
}*/
 /*.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     max-width: 100%;
     margin: auto;
     height: 400px !important;
 }*/

.main-navigation {
  /* reduce margin by body bottom margin */
  margin-top: -70px;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}
.navbar-brand img {
    height: 30px;
}
.logo img {
    height: 44px;
}

.nav-pills-lg{
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.3333333;
    padding-top: 20px;
}
.nav-pills-lg li{
    margin-right: 5px;
}
.nav-pills-lg li a{
    padding: 10px 15px;
}
.nav-pills-lg > li.active > a,
.nav-pills-lg > li.active > a:focus,
.nav-pills-lg > li.active > a:hover,
.nav-pills-lg > li > a:hover { 
    border-bottom: 4px solid #515151;
    background-color: #f3f3f3;
    padding-bottom: 6px;
}
.nav-pills-lg > li > a,
.nav-pills-lg > li > a:focus {       
    color: #337ab7;
    border-radius: 0px;
    background-color: #f3f3f3;
}

/*** Home page image ***/
 .home-wrapper{
    overflow: hidden;
    z-index: -100; 
    margin-top: -20px;
    height: 200px   
}
.home-wrapper img{
    height: auto;
    max-width: 100%;
    content:url("images/home_768.jpg");
}
/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
    .home-wrapper { 
        height: 300px;    
    }
    .home-wrapper img {      
         content:url("images/home_992.jpg");
    }
}
/* For width 768px and larger: */
@media only screen and (min-width: 768px) {
    .home-wrapper { 
        height: 400px;
        margin-top: -70px; 
    }
    .home-wrapper img {      
         content:url("images/home_992.jpg");
    }
}
/* For width 992px and larger: */
@media only screen and (min-width: 992px) {
    .home-wrapper { 
        height: 450px;
    }    
    .home-wrapper img {      
        content:url("images/home_1200.jpg");
    }
    .navbar-brand,
    .navbar-brand > ul > li {
        padding-top: 50px;
    }
}
/* For width 1200px and larger: */
@media only screen and (min-width: 1200px) {
    .home-wrapper { 
        height: 500px;
    }
    .home-wrapper img {      
        content:url("images/home_1920.jpg");
    }
}
/* For width 1900px and larger: */
@media only screen and (min-width: 1900px) {
    .home-wrapper { 
        height: 700px;
    }
    .home-wrapper img {      
        content:url("images/home.jpg");
    }
}